{% load static %}

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

<script src="{% static 'global/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'global/js/jquery.mask.min.js' %}"></script>
<script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'global/js/script.js' %}"></script>