:root {  
    --spacing-gutter-2: .25rem;
    --spacing-gutter-2: .5rem;
    --spacing-gutter-3: .1rem;
    --spacing-gutter-4: 1.5rem;
    --spacing-gutter-5: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-content{
    min-height: 100vh;
    padding-left: var(--spacing-gutter-4);
    padding-right: var(--spacing-gutter-4);
    margin: 0 auto;
}

#home-content main {
    max-width: 720px;
    margin: 0 auto;
}

.skip-link{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    translate: -50% -100%;
    transition: translate 150ms ease-in-out;
    outline: none !important;
    font-weight: 500;
}

.skip-link:focus{
    translate: -50% 25%;
}

.my-container {
    max-width: 1280px;
    padding-left: var(--spacing-gutter-4);
    padding-right: var(--spacing-gutter-4);
    margin: 0 auto;
}

.project-preview:hover {
    box-shadow: 0 0 3px var(--bs-success);
}

.small-user-pic{
    width: 20px;
    max-width: 20px !important;
    height: 20px;
    border-radius: 50%;
}

.project-img-preview {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: .25rem 0 0 .25rem;
}

.project-info {
    height: 500px;
}

.project-img {
    width: 100%;
    height: 500px !important;
    object-fit: cover;
    object-position: center;
    border-radius: .25rem;
}

.preview-project-introduction {
    height: 160px;
    overflow-y: auto;
}

#profile_picture-preview{
    cursor: pointer;
}

.user-profile-link:hover, .decrease-opacity-hover:hover{
    opacity: 0.7;
}

.underline-hover:hover{
    text-decoration: underline !important;
}

.fs-small {
    font-size: 90% !important;
}

.text-justify{text-align:justify !important;}

@media (min-width: 992px) {
    .home-footer-imgs img{
        max-height: 10vh !important;
        width: auto;
    } 
}

@media (max-width: 992px) {
    .project-img-preview, .project-img {
        height: 200px !important; 
    }

    .project-img-preview, .project-img {
        border-radius: .25rem .25rem 0 0;
    }

    .project-info {
        background-color: var(--bs-info);
        border-radius: 0 0 .25rem .25rem;
    }

    .small-user-pic{
        width: 17px;
        max-width: 17px !important;
        height: 17px;
    }
}